/* black white red darkred brown yellow cyan blue pink purple orange brightorange green brightgreen darkgreen teal gray darkblue */

body {
  background-color: white;
}

/* the color for context lines (when specified with line ranges) */
.context {
  color: gray;
}

.keyword {
  color: darkgreen;
}
.type {
  color: darkgreen;
}
.usertype, .classname {
  color: teal;
}
.string {
  color: cyan;
}
.regexp {
  color: orange;
}
.specialchar {
  color: pink;
}
.comment {
  color: cyan;
}
.number {
  color: cyan;
}
.preproc {
  color: red;
}
.symbol {
  color: red;
}
.function {
  color: blue;
}
.cbracket {
  color: blue;
}
.todo {
  color: magenta;
}

/* line numbers */
.linenum {
  color: black; font-family: monospace;
}

/* Internet related */
.url {
  color: blue;
  text-decoration: underline;
}

/* other elements for ChangeLog and Log files */
.date {
  color: blue;
}
.time, .file {
  color: darkblue;
}
.ip, .name {
  color: darkgreen;
}

/* for Prolog, Perl */
.variable {
  color: darkgreen;
}
.italics {
  color: darkgreen;
  font-style: italic;
}
.bold {
  color: darkgreen;
  font-weight: bold;
}

/* for LaTeX */
.underline {
  color: darkgreen;
  text-decoration: underline;
}
.fixed {
  color: green;
  font-family: monospace;
}
.argument, .optionalargument {
  color: darkgreen;
}
.math {
  color: orange;
}
.bibtex {
  color: blue;
}

/* for diffs */
.oldfile { color: orange; }
.newfile { color: darkgreen; }
.difflines { color: blue; }

/* for css */
.selector { color: blue; }
.property { color: yellow; }
.value { }

/* for Oz */
.atom { color: orange; }
.meta { font-style: italic; }
