*.c      diff=cpp
*.cc     diff=cpp
*.cpp    diff=cpp
*.cs     diff=csharp
*.html   diff=html
*.html.* diff=html
*.java   diff=java
*.json   diff=json
*.m      diff=objc
*.php    diff=php
*.pl     diff=perl
*.py     diff=python
*.rb     diff=ruby
*.tex    diff=tex
