/.config/gcloud
/.config/yarn
/.config/hub
/.vim/backup
/.vim/plugged
/.vim/swap
/.rbenv
/.tmux/plugins
!/.rbenv/default-gems

# Fish
.config/fisher
.config/fish/fishd.*

# Neovim
/.local/share/*
!/.local/share/nvim
/.local/share/nvim/*
!/.local/share/nvim/site
.config/nvim/.netrwhist
.config/gocode/config.json
.config/configstore/update-notifier-npm.json
.config/fish/fish_variables
