[submodule "modules/zsh-syntax-highlighting"]
	path = modules/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/zsh-completions"]
	path = modules/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "modules/zaw"]
	path = modules/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "modules/auto-fu.zsh"]
	path = modules/auto-fu.zsh
	url = git://github.com/hchbaw/auto-fu.zsh.git
[submodule "modules/vimpager"]
	path = modules/vimpager
	url = git://github.com/rkitover/vimpager.git
