/dotfiles/.tmux/plugins/*
!/dotfiles/.tmux/plugins/tpm

/dotfiles/.gemini/commands/hq
/dotfiles/.claude/commands/hq-*.md
/dotfiles/.claude/skills/hq-*

/dotfiles/.config/*
!/dotfiles/.config/git
!/dotfiles/.config/nvim

